gulpfile.js
tasks
node_modules
.idea
.git
/node_modules
test
/lib/*.bat
/lib/*.log
/lib/*.sh
.vscode
package-lock.json
/package-lock.json
.DS_Store
.gitignore
tsconfig.json
/docs/files
docs/files

# ioBroker dev-server
.dev-server/
